<h1 class="text-primary text-center my-4">Precio</h1>
<p class="text-center my-3">Adquiere uno de nuestros planes de promocion</p>

<div class="container">
  <div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
      <div class="card h-100">
        <div class="card-body text-center">
          <h5 class="card-title fs-2 border-bottom border-2 border-secondary">
            Libre
          </h5>
          <p class="text-success fw-bold fs-4">$0 / mes</p>
          <p class="card-text">
            10 usuarios incluidos <br />
            2gb de almacenamiento <br />
            soporte de correo electronico <br />
            Acceso al centro de ayuda
          </p>
          <button class="btn btn-outline-primary">Registrate Gratis</button>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <div class="card-body text-center">
          <h5 class="card-title fs-2 border-bottom border-2 border-secondary">
            Pro
          </h5>
          <p class="text-success fw-bold fs-4">$15 / mes</p>
          <p class="card-text">
            20 usuarios incluidos <br />
            10gb de almacenamiento <br />
            Soporte prioritario por correo electronico <br />
            Acceso al centro de ayuda
          </p>
          <button class="btn btn-primary">Inscribirse</button>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <div class="card-body text-center">
          <h5 class="card-title fs-2 border-bottom border-2 border-secondary">
            Empresa
          </h5>
          <p class="text-success fw-bold fs-4">$29 / mes</p>
          <p class="card-text">
            10 usuarios incluidos <br />
            20gb de almacenamiento <br />
            Soporte telefonico y por correo electronico <br />
            Acceso al centro de ayuda
          </p>
          <button class="btn btn-primary">Inscribirse</button>
        </div>
      </div>
    </div>
  </div>
</div>
